/* general styles */

* {
    box-sizing: border-box;
    color: inherit;
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
}

button:hover {
    opacity: 0.85;
}

button:active {
    opacity: 0.7;
}

input {
    background-color: white;
    border: 1px solid black;
}

/* header */

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 12rem;
    padding: 12px 30%;
    background-color: lightgrey;
    
}

#header fieldset {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    margin: 20px 0;
}

#header label {
    text-align: right;
    margin-right: 8px;
}

#header button {
    width: 67%;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    justify-self: center;
    color: white;
    background-color: blueviolet;
    border-radius: 6px;
}

#buffer {
    height: var(--header-height);
}

/* library */

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 3fr 3fr 2fr 2fr 1fr;
    text-wrap: wrap;
    gap: 4px;
    border: 4px solid brown;
    border-radius: 6px;
    background-color: grey;
    padding: 6px;
    margin: 8px;
}

.read {
    border-color: green;
}

.read-btn {
    right: calc(0% + 8px);
}

button {
    height: var(--button-height);
}